<div class="main-wrapper">
    <div class="loading-container" *ngIf="loading">
        <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
    </div>

    <div class="menu">
        <button mat-raised-button routerLink="job-description">Job description</button>
        <button mat-raised-button routerLink="imdb">IMDB Api</button>
        <button mat-raised-button routerLink="for-custom-pipe">Date transform pipe</button>
        <button mat-raised-button routerLink="calendar">Calendar</button>
        <button mat-raised-button routerLink="percentage">Matching percentage</button>
        <mat-divider></mat-divider>
    </div>
    <router-outlet></router-outlet>
</div>